.hero-container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/IMg3.jpg); 
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
  }
  
  .hero-content {
    z-index: 2;
    max-width: 800px;
    padding: 20px;
  }
  
  
  .hero-title {
    color: #fff;

    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 2s ease-in-out forwards;
  }
  
  .hero-subtitle {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  
  .hero-buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary {
    background-color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: #fff;
  }
  
  .btn-primary:hover {
    background-color: #9c92ae;
  }
  
  .btn-secondary {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
  }
  
  .btn-secondary:hover {
    background-color: #fff;
    color: #333;
  
  }
  
  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }